.SwiperSlide{
    height: 400px;
}

.SwiperSlide-img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px){
    .SwiperSlide{
        height: 280px;
    }
}