---
import Card from '../components/Card.astro'
import MySwiper from '../components/MySwiper';
import Swiper from '../components/Swiper';
import Layout from '../Layout/Layout.astro'
const numeroAleatorio = Math.floor(Math.random() * 3) + 1;
console.log(numeroAleatorio)
const { title } = Astro.props;
const allPosts = await Astro.glob("../pages/projects/*.md");
const currentPath = Astro.url.pathname;
    


const currentProject = allPosts.find(post => post.url === currentPath);

const imagenes = currentProject?.frontmatter.imagenes;
const project = currentProject;
const name = currentProject?.frontmatter.name;
const ProjectTitle = currentProject?.frontmatter.title;
console.log("Imágenes:", allPosts);
console.log("Imágenes:", currentPath);
console.log("Imágenes:", imagenes);
console.log("Nombre:", project);
---
<Layout title='DSI Constructora'>
   <Swiper client:load/>
   <br/>
   <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
   <br/>

   <MySwiper client:load/>


    <section id="nosotros">
      <div class="bg-image bg-no-repeat"
     style=`background-image: url('../../assets/Front-page/${numeroAleatorio}.jpg'); background-size: cover; background-position: center; height: 100vh;`>

 
     <div class="text-white text-center pt-32">
      <h1 class="text-4xl font-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">Somos Una Empresa Constructora</h1>
      <p class="text-xl mt-4" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">Especializada en trabajos topográficos y la construcción de grandes estructuras</p>
  </div>
  
    </section>
    <section id="servicios">
     
        <div class="bg-white text-black py-8 mx-2 border-b-4 border-black">
            <h2 class="text-3xl font-bold">Nuestros Servicios❤️</h2>
            <p class="text-lg mt-4">Nos especializamos en trabajos topográficos y la construcción de grandes estructuras como edificios, galpones, etc.</p>
            <Card title="TRABAJOS TOPOGRÁFICOS" image="https://firebasestorage.googleapis.com/v0/b/dsi-constructora.appspot.com/o/services%2Ftopo.svg?alt=media&token=1175a780-b800-4959-8c91-87fa5da4eca6" services={["Relevamientos plani-altimétricos.", "Estudio de Cuencas Hídricas.", "Cálculo y Ejecución de Mov. De Suelo.", "Acondicionamiento de Suelos para Grandes Estructuras."]}/>
            <Card title="CONSTRUCCIÓN DE GRANDES ESTRUCTURAS" image="https://firebasestorage.googleapis.com/v0/b/dsi-constructora.appspot.com/o/services%2Fgrua.svg?alt=media&token=231b734e-3e8f-4230-9597-b1cddd00f0c7" services={["Fundaciones de Hormigón Armado.", "Estructuras Metálicas y de Hormigón.", "Mampostería, cerramientos.", "Construcción en seco.", "Pintura y revestimientos.", "Instalaciones Sanitarias, Eléctricas, Redes de datos, Refrigeración, detección y Extinción de Incendios."]} />
        </div>
    </section>

    <section id="contacto" class="h-screen flex justify-center items-center">
      <div>
        <h2 class="text-3xl font-bold">CONTACTO</h2>
        <div class="mt-4">
          <p class="mb-2">Martín de Gainza 801</p>
          <p class="mb-2">Edificio Panorama Offices 2</p>
          <p class="mb-2">Unidad Funcional 94, Piso 4to</p>
          <p class="mb-2">Parque Industrial Buen Ayre, Moreno</p>
        </div>
        <div class="mt-4">
          <p class="mb-2">EMAIL: info@dsiconstructora.com</p>
          <p class="mb-2">TELÉFONO: 11-53078516</p>
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-bold">SÍGUENOS</h3>
          <div class="mt-2">
            <a href="https://www.instagram.com/dsiconstructora/" class="text-blue-500 hover:underline mr-4">Instagram</a>
            <a href="https://twitter.com/DSIconstructora" class="text-blue-500 hover:underline">Twitter</a>
          </div>
        </div>
        <img src="https://firebasestorage.googleapis.com/v0/b/dsi-constructora.appspot.com/o/assets%2Fmap.jpg?alt=media&token=38f106de-35da-40c2-8f22-22ec7105bcaa"/>
      </div>
    </section>
    
</Layout>


