<nav class="bg-white border-gray-200 light:bg-gray-900 ">
    <div class="xlight:bg-gray-900 flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <div class="flex items-center w-full sm:w-auto"> 
            <a id="logo" href="/" class="flex items-center">
                <img src="../../assets/logo.svg" class="h-16 mr-3" alt="DSI Logo" />
            </a>
        </div>
        <div class="w-full sm:w-auto flex items-center justify-center mt-4 sm:mt-0">
            <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm sm:ml-0 ml-4"> 
                <li>
                    <a href="/#servicios"  class="text-gray-900 dark:text-dark hover:underline" aria-current="page">Servicios</a>
                </li>
                <li>
                    <a href="/#nosotros" class="text-gray-900 dark:text-dark hover:underline">Nosotros</a>
                </li>
                <li>
                    <a href="/projects" class="text-gray-900 dark:text-dark hover:underline">Obras Ejecutadas</a>
                </li>
                <li>
                    <a href="/#contacto" class="text-gray-900 dark:text-dark hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>
    @media screen and (max-width:  640px) {
  #logo{
    margin: auto;
}
}
li::before {
    content: ""; /* Agrega un guion antes de cada elemento */
  }

  nav{
    border-bottom: 1px solid;
    border-color: #b9babd;
  }
</style>