---
interface Props {
    posts: Array<Object>;
}


const posts = [
  {
    frontmatter: {
      title: 'Movimiento de suelo',
      ubicacion: 'Almirante Brown',
      imagenes: [
        'Almirante_Brown (1).jpeg', 'Almirante_Brown (2).jpeg', 'Almirante_Brown (3).jpeg',
        'Almirante_Brown (4).jpeg', 'Almirante_Brown (5).jpeg'
      ],
      order: 1,
      layout: '../../Layout/ProjectPost.astro',
      name: 'Almirante_Brown'
    },
    file: 'C:/Users/Admin/Desktop/DSI Portfolio/Portfolio/DSI/src/pages/projects/Almirante_Brown.md',
    url: '/projects/Almirante_Brown',
  },
  {
    frontmatter: {
      title: 'Barrio Walsh',
      ubicacion: 'González Catán',
      imagenes: [
        'Barrio_Walsh.jpeg', 'Barrio_Walsh (1).JPG', 'Barrio_Walsh (2).JPG', 'Barrio_Walsh (3).JPG',
        'Barrio_Walsh (4).JPG', 'Barrio_Walsh (1).JPG'
      ],
      order: 1,
      layout: '../../Layout/ProjectPost.astro',
      name: 'Barrio_Walsh'
    },
    file: 'C:/Users/Admin/Desktop/DSI Portfolio/Portfolio/DSI/src/pages/projects/Barrio_Walsh.md',
    url: '/projects/Barrio_Walsh',
  }
];

console.log(posts)
---

<div class="swiper-container" id="swiperContainer">
    <astro-greet data-posts={JSON.stringify(posts)}>
    <div class="swiper-wrapper" id="swiperWrapper">
        <img id="imagenn" src="">
    </div>
  </astro-greet>
  <a class="flex justify-center self-center" href="http://localhost:4321/projects/Barrio_Walsh">
    <img id="prevBtn" src="/assets/arrow.png"/>
</a>



<button id="prevBtn"/>
    <button id="nextBtn">Siguiente</button> 
  </div>


<script>

    const urlParts = window.location.href.split('/');
    console.log(urlParts[urlParts.length-1])
    const name=urlParts[urlParts.length-1]
    
    
    let imagesArray: string[] = [];
    
    class AstroGreet extends HTMLElement {
        constructor() {
          super();
    
    
          const Allposts = JSON.parse(this.dataset.posts || '[]');
    
            console.log(Allposts)
            console.log("name: "+name)
            const currentPost: any | undefined = Allposts.find((post: any) => post.frontmatter.name === name);
        
            imagesArray=currentPost.frontmatter.imagenes
    
            console.log(imagesArray)

        }
        
      }
      customElements.define('astro-greet', AstroGreet);


    let currentIndex: number = 0;


    function generateSlide(index: number): void {
  console.log("index2 " + index);
  const imagenn: HTMLImageElement | null = document.getElementById("imagenn") as HTMLImageElement;

  if (imagenn) {
    imagenn.src = `../../projects/${name}/${imagesArray[index]}`;
    imagenn.alt = "Imagen";

    console.log("este " + imagenn.src);
  }
}
    
    function showSlide(index: number): void {
      const slideImg: HTMLImageElement | null = document.querySelector('.swiper-slide img');
      const wrapper: HTMLElement | null = document.querySelector('.swiper-wrapper');
    
      if (slideImg && wrapper) {
        const slideWidth: number = slideImg.offsetWidth || 0;
        const newPosition: number = -index * slideWidth;
        wrapper.style.transform = `translateX(${newPosition}px)`;
        currentIndex = index;
      }
    }

    function prevSlide(): void {
      currentIndex = (currentIndex - 1 + imagesArray.length) % imagesArray.length;
      generateSlide(currentIndex);
      showSlide(currentIndex);

    }
    
    function nextSlide(): void {
      currentIndex = (currentIndex + 1) % imagesArray.length;
      generateSlide(currentIndex);
      showSlide(currentIndex);

    }
    
    // Obtener botones y agregar escuchadores de eventos
    const prevBtn: HTMLButtonElement | null = document.querySelector('#prevBtn');
    const nextBtn: HTMLButtonElement | null = document.querySelector('#nextBtn');
    
    if (prevBtn && nextBtn) {
      prevBtn.addEventListener('click', prevSlide);
      nextBtn.addEventListener('click', nextSlide);
    }
    
    // Generar la primera slide al cargar la página
    window.onload = function () {
      generateSlide(currentIndex);
    };

      </script>
    
    
    
    
    
  <style>

    #prevBtn{
      height: 120px;
      z-index: 10;
    }
    /* Contenido de CSS */
    .swiper-container {
      width: 100%;
      z-index: 1;
      overflow: hidden;
      position: relative;
    }
  
    .swiper-wrapper {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  
    .swiper-slide {
      min-width: 100%;
      box-sizing: border-box;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      background-color: #3498db;
      color: #fff;
      border: none;
    }
  
    #prevBtn {
      left: 10px;
    }
  
    #nextBtn {
      right: 10px;
    }

    #imagenn{
      height: 700px;
    }
  </style>
  